# Data Science Tools and Ecosystem

## Author 
Rodrigo Fernandez

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of popular languages
+ List of common used libraries
+ List of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. seaborn

|Data Science Tools|
-----------------------------
JupyterLab
Apache Zeppellin
Jupyter Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335